@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans"),
    font-url("/src/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  src: local("OpenSans"),
    font-url("/src/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: local("OpenSans"),
    font-url("/src/fonts/OpenSans/OpenSans-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans"),
    font-url("/src/fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  src: local("Manrope"),
    font-url("/src/fonts/Manrope/Manrope-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: local("Manrope"),
    font-url("/src/fonts/Manrope/Manrope-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  src: local("Manrope"),
    font-url("/src/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  font-style: normal;
  src: local("Manrope"),
    font-url("/src/fonts/Manrope/Manrope-SemiBold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
a,
button,
textarea {
  font-family: "Open Sans", OpenSans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", Manrope, sans-serif;
  overflow-wrap: break-word;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
}

input {
  border: none;
}
